body { background: #511523; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 53px; display: flex; }
.block-order-0 { color: #eb8a85; font-size: 17px; margin-bottom: 5px; }
.block-search-1 { color: #f50c1a; font-size: 13px; margin-bottom: 5px; }
.block-product-2 { color: #8af736; font-size: 15px; margin-bottom: 5px; }
.block-search-3 { color: #50cf91; font-size: 13px; margin-bottom: 5px; }
.block-config-4 { color: #fad0cb; font-size: 17px; margin-bottom: 5px; }